

/*Navigation Bar*/

.snap{
  margin-left: 60px;
  font-size: 8px;
}

.container-fluid{
	padding: 0% 15% 7%;
}
.navbar-brand{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
	
}
.nav-item{
	padding: 0 24px;
}
.nav-link{
	font-size: 1.2rem;
	font-family:"Montserrat-light";
}
.navbar{
	padding: 0 0 4.5rem;
}

/* header */

.shape{
    background-color:rgb(248, 198, 32);
    width:550px;
    height:60px;
    margin-right: 700px;
    text-align: center;
    border-top: 40px transparent ;
    padding-top: 20px;
    
    border-right: 50px solid transparent;
  }
  
  .head3{
      margin: 30px 0px;
  }
  .One{
    margin-left: 14px;
    margin-bottom: 10px;
  }

.course{
  padding: 2px 4px;
  margin-right: 10px;
}
  .head1{
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .head2{
    margin: 30px 20px 40px 50px;
    color: blue;
  }
  .p1{
    margin-left: 60px;
    margin-top: 50px;
  }
 
  .text{
    margin-left: 50px;
    margin-right: 550px;
    /* margin-top: 70px; */
  }
  .Blogs{
    align-items: center;
    margin-left: 970px;
  } */
  
  .form-input {
    padding: 0px 5px;
    padding-top: 1px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
  }
  
  .form-box input, textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
      border-radius: 5px;
  }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
  :root { 
    --main-bg-color: purple;
    --font1: "Baloo Bhaina 2", cursive;
    --font2: "Roboto", sans-serif;
  }
  
  
  /* cards */ 

  .card {
    margin-bottom: 3rem;
  }
  
  .center{
    text-align: center;
  } 

  footer {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    
  }
  
  .pagination {
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 470px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #000000;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  @media screen and (max-width: 1200px) {
/* header */ 
    .head1{
      margin-left: 5px;
    }
    
    .head2{
      margin: 30px 20px 40px 5px;
    }
    .p1{
      margin-left: 35px;
      margin-top: 0px;
    }
    
  /* cards */ 
  
  .One{
    margin-left: 22px;
  }
  
    .top{
      margin-top: 0px;
      margin-right: 60px;
      padding: 0px 10px;
    }
    .topdiv{
      margin-top: 0px;
      margin-left: 40px;
      margin-right: 0px;
    }
    .text{
      margin-left: 20px;
      margin-right: 0px;
      /* margin-top: 40px; */
    }
  
    .pagination {
      margin-left: 80px;
      margin-top: 30px;
    }
    .shape{
      margin-bottom: 30px;
      
    }
    .Blogs{
      align-items: center;
      margin-left: 150px;
      margin-bottom: 30px;
    }
  
  .topdiv{
    margin-top: 50px;
    margin-bottom: 30px;
  }
    .head{
      margin-left: 150px;
    }
   
  }